@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.icon {
  fill: none;
  stroke: #fff;
  stroke-width: 1, 5px;
}

.icon path {
  fill: none;
}

.icon:hover {
  fill: #fff;
}

.icon:hover path {
  fill: #fff;
}

.sidebar-shadow {
  box-shadow: 9px 0px 20px -1px rgba(0, 0, 0, 0.25);
}

.custom-shadow {
  box-shadow:
    0 -5px 15px rgba(0, 0, 0, 0.45),
    0 -2px 4px rgba(0, 0, 0, 0.02);
}

#timetrack {
  @apply [&::-webkit-slider-runnable-track]:rounded-full 
  [&::-webkit-slider-thumb]:appearance-none 
  [&::-webkit-slider-thumb]:h-3
  [&::-webkit-slider-thumb]:w-3
  [&::-webkit-slider-thumb]:rounded-full 
  [&::-webkit-slider-thumb]:bg-white;
}
